.NewBusinessCheck {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 25px 10px 25px;
  background-color: white;
  position: relative;
}

@media screen and (min-width: 400px) {

  .NewBusinessCheck{
      max-width: 400px;
      margin-top: 90px;
      margin-left: 100px;
      border-radius: 10px 10px 0px 0px;
  }

}

.NewBusinessCheck .contentWrapper {
  flex: 1;
}


.NewBusinessCheck .intro {
  margin-top: 20px;
  margin-bottom: 20px;
}

.NewBusinessCheck .dataWrapper {
  margin-bottom: 20px;
  background-color: rgb(235, 231, 231);
  padding: 20px;
  border-radius: 5px;
}

.NewBusinessCheck .dataWrapper p {
  margin: 0px;
}

.NewBusinessCheck .dataWrapper .info {
  margin-bottom: 10px;
}