
.Button{
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  max-width:50%;
  width:50%;
  padding: 8px 12px;
  font-size: 16px;
  user-select: none;
  -webkit-user-drag: none;
  margin:8px auto;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-tap-highlight-color:transparent;
}
@media screen and (orientation:portrait){
	.Button{
  max-width:100%;
}
}

.Button.normal{
  border: 1px solid #B92636;
  background-color: #B92636;
  color: white;
}

.Button.normal:active {
  background-color: rgb(233, 130, 142);
}

.Button.light{
  color: #B92636;
  border: 1px solid #B92636;
  background-color: white;
}

.Button.light:active {
  background-color: rgb(250, 196, 203);
}