
.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.Header img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color:transparent;
  user-select: none;
}

.Header img:active{
  opacity: 50%;
}

.Header h1 {
  margin: 0px;
}