
.InputText{
  display: 'flex';
  flex-direction: column;
}

.InputText .label{
  margin-bottom: 5px;
}

.InputText input{
  border: 1px solid #B0AEAE;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  height: 40px;
}

.InputText .errorInput{
  background-color: rgba(185, 38, 55, 0.4);
}

.InputText .error{
  color: #B92636;
  text-align: right;
  margin-top: 5px;
}