
.react-share__ShareButton{
  width: 100%;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color:transparent;
  user-select: none;
  outline: none;
}

.ShareButton{
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  user-select: none;
  margin-bottom: 7px;
  text-transform: uppercase;
  overflow: hidden;
  box-sizing: border-box; 
  -webkit-user-drag: none;
  -webkit-tap-highlight-color:transparent;
  user-select: none;
}

.ShareButton.normal{
  border: 1px solid #B92636;
  background-color: #B92636;
  color: white;
}

.ShareButton.normal:active {
  opacity: 80%;
}


.ShareButton.light{
  color: #B92636;
  border: 1px solid #B92636;
  background-color: white;
	margin-top:0;
}

.ShareButton.light:active {
  background-color: rgb(250, 196, 203);
}