
.react-share__ShareButton{
  width: 100%;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color:transparent;
  user-select: none;
  outline: none;
}

.ShareButton{
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 18px;
  user-select: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  text-transform: uppercase;
  overflow: hidden;
  box-sizing: border-box; 
  line-height: 38px;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color:transparent;
  user-select: none;
}

.ShareButton.normal{
  border: 1px solid #B92636;
  background-color: #B92636;
  color: white;
}

.ShareButton.normal:active {
  opacity: 80%;
}

.ShareButton.light{
  color: #B92636;
  border: 1px solid #B92636;
  background-color: white;
}

.ShareButton.light:active {
  background-color: rgb(250, 196, 203);
}