
.NewBusiness{
     text-align: center;
	width: 60vw;
	margin: 16vh auto ;
	background: #fff;
	padding:32px;
	border-radius: 8px;
	box-shadow: 18px 18px 26px rgba(0,0,0,0.12), -4px -4px 16px rgba(255,255,255,0.24) ;
	border:1px solid #b22937;
  }
@media screen and (orientation:portrait) {

  .NewBusiness {
  width: 80vw;
  padding: 20px 25px 20px 25px;
  
}
}

.NewBusiness .intro {
  margin-top: 20px;
  margin-bottom: 20px;
	text-align: left;
}

.NewBusiness .dataWrapper {
  margin-bottom: 20px;
	overflow:hidden;
}

.NewBusiness .InputText {
	height:98px;
    width: 46%;
    float: left;
    margin-right: 3%;
    text-align: left;
	margnin-top:20px;
}
@media screen and (orientation:portrait) {

 .NewBusiness .InputText {
      margin-top: 20px;
    /* margin-bottom: 20px; */
    width: 100%;
    float: left;
    margin-right: 0;
    text-align: left;
}
}