
.NewBusiness {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 25px 20px 25px;
  background-color: white;
}

@media screen and (min-width: 400px) {

  .NewBusiness{
      max-width: 400px;
      margin-top: 90px;
      margin-left: 100px;
      border-radius: 10px 10px 0px 0px;
  }

}

.NewBusiness .intro {
  margin-top: 20px;
  margin-bottom: 20px;
}

.NewBusiness .dataWrapper {
  margin-bottom: 20px;
}

.NewBusiness .InputText {
  margin-top: 20px;
  margin-bottom: 20px;
}